* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border-color: red;
}

#header {
	font-size: 25px;
}

.bg {
	background:linear-gradient(45deg , #0066cc , #009966);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.form-card {
	box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.5);
 }

#loaders img {
	display: none;
	width: 120px;
}